.landing-body {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.landing-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.landing-text {
  font-family: Andale Mono, monospace;
  text-align: center;
  font-size: 150%;
  color: rgb(180, 180, 180);
  text-shadow: 1px 1px 3px black;
}
